{% extends "base.html" %}

{% block outdated %}
You're not viewing the latest version.
<a href="{{ '../' ~ base_url }}">
    <strong>Click here to go to latest.</strong>
</a>
{% endblock %}

{% if config.extra.pre_release %}
{% block announce %}
<div class="admonition note">
    <p class="admonition-title">Prerelease</p>
    <p>This is a <strong>pre-release</strong> version. Some features may change before the final release.</p>
    <a href="{{ '../' ~ base_url }}">
        <strong>Click here if you are here by mistake.</strong>
    </a>
</div>
{% endblock %}
{% endif %}