{% extends "base.html" %}

{% block announce %}
  You are currently viewing <strong>pre-release</strong> documentation. This may contain features that have not yet been packaged or are unstable. If you are here by mistake, please <strong><a href="{{ '../' ~ base_url }}">refer to the latest release</a></strong>.
{% endblock %}